.toast {
    position: fixed;
    top: var(--page-margin);
    padding: 0.25rem 0.6rem 0.27rem;
    background: var(--font-color);
    color: var(--page-color);
    font-size: 0.75rem;
    border-radius: 100rem;
    visibility: hidden;
    opacity: 0;

    transition-duration: 0.5s;
    transition-property: visibility, opacity, filter;
}

.toast--visible {
    visibility: visible;
    opacity: 1;
    filter: none;
}
