.editor {
    background: var(--page-color);
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    transition: .3s background-color;
}


.editor__content {
    width: 100%;
    height: calc(var(--ru) * 5rem);
    max-width: 25rem;

    position: relative;
    top: calc(var(--ru) * -2.5rem)
}

.editor__overlay {
    content: '';
    position: absolute;
    display: flex;
    align-content: flex-start;
    flex-direction: column;

    height: calc(var(--ru) * 4rem);
    top: 0;
    right: 0;
    left: 0;

}

.editor__overlay span {
    display: block;
    background-color: var(--page-color);
    height: calc(var(--ru) * 1rem);
    width: 100%;

    transition: .3s background-color;
}

.editor__overlay span:nth-child(1) { opacity: .98; }
.editor__overlay span:nth-child(2) { opacity: .92; }
.editor__overlay span:nth-child(3) { opacity: .85; }
.editor__overlay span:nth-child(4) { opacity: .7; }

.editor__input {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
    
    background: transparent;

    padding: 0 calc(var(--ru) * 1rem);
    overflow: hidden;
    
    line-height: calc(var(--ru) * 1rem);
    font-size: 1rem;
    font-family: var(--font-base);
    color: var(--font-color);

    resize: none;
    user-select: text;
}

.editor__input:focus { 
    outline: none !important;
}

.editor__input::selection { background: transparent; }

.editor__word-count {
    position: absolute;
    right: var(--page-margin);
    bottom: var(--page-margin);

    opacity: 0.2;
    transition: .4s opacity;
}

.editor__word-count--active {
    opacity: .5;
}