.theme--default {
    --page-color: #fafafa;
    --page-color-transparent: #fafafa99;

    --font-color: #333;
    --link-color: #e00202;
}

.theme--dark {
    --page-color: #212121;
    --page-color-transparent: #21212199;

    --font-color: #e3dac4;
    --link-color: #e00202;
}
