:root {
  --ru: 1.6;
  --font-size: 20px;
  --page-margin: calc(var(--ru) * 1rem);
  
  --font-base: Georgia, 'Times New Roman', Times, serif;

  --default-anim-easing: cubic-bezier(0.190, 1.000, 0.220, 1.000)
}

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--font-size);
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--font-color);
}
